<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
  </head>
<body>

{% block content %}
<div class="col-lg-12"></div>
<div class="col-lg-12">
<h1>500 Ooops!Someting gone wrong...</h1>
    </div>
{% endblock %}


<div class="col-lg-12">

    <hr>

<div class="col-lg-12"><a href = "/">Main</a></div>
</div>
</body>
</html>
