<!DOCTYPE html>
<html ng-app lang="en">


  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Link To Static Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-2.1.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
     <script src="http://code.angularjs.org/1.1.5/angular.min.js"> </script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js')}}"></script>
      <!-- end links -->
  </head>
    <body>

    <div class="row">

    <!-- Site Menu -->
        <div class="side-menu">

            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <div class="brand-wrapper">

                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

            </div>

        </div>

    <!-- Main Menu -->
        <div class="side-menu-container">

        <ul class="nav navbar-nav navbar-fixed">

{% if current_user.is_authenticated() %}

            <img src ="{{ current_user['email'] | gravatar }}"> Hello, <a href="/profile/{{ current_user.id }}">{{ current_user.name }}</a>

            <li><a href={{ url_for('logout') }}><span class="glyphicon glyphicon-log-in"></span>Exit</a></li>

{% else %}

            <li><a href={{ url_for('login') }}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            <li><a href={{ url_for('register') }}><span class="glyphicon glyphicon-log-in"></span> Register</a></li>

{% endif %}

            <li><a href="/"><span class="glyphicon glyphicon-question-sign"></span> Questions</a></li>

        </ul>
    </div><!-- /.navbar-collapse -->
</nav>



        </div>

    <div class ="nav-container">
        <div class = "col-lg-19">
            <div class = "col-lg-offset-3">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">


    </div>

      <ul class="nav navbar-nav navbar-right">

{% if current_user.is_authenticated() %}

        <button id='AddModal'type="button" class="btn btn-success"
                data-toggle="modal"
                data-target="#ModalWindow">{% block reply %}{% endblock %}</button>
            </ul>

{% else %}

      <button id='AddModal' disabled= 'true' type="button" class="btn btn-success">Log in to Post</button>
            </ul>

{% endif %}

  </div>

</nav>


        </div>
            </div>
                </div>


<div class ="question-container">
        <div class = "col-md-14">
            <div class="container-fluid">



{% block content %}{% endblock %}


         </div>
            </div>
                </div>
                   </div>
       </body>
</html>
