{% extends 'base.html' %}
{% block title %}Ask - Main{% endblock %}

{% block reply %}New Question{% endblock %}

{% block content %}

<div class="modal" id="ModalWindow" tabindex="-1" role="dialog" aria-labelledby="ModalWindow" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalWindowTitle">New Question</h4>
            </div>
            <div class="modal-body">

                <form method='post' action='/'>

                    {{ question_form.csrf_token }}

                    <div class="form-group">
                         <label class="control-label">Your question:</label>

                        {{ question_form.text(class="form-control input-md") }}

{% if question_form.text.errors %}
 {% for error in question_form.text.errors %}

                <p class="bg-danger">{{ error }}</p>

{% endfor %}
{% endif %}
          </div>



                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

            </form>
      </div>

            </div>
                </div>
                    </div>

      <div class = "col-lg-offset-3">
            <h2>All Questions</h2>
                <hr>
      </div>

{% for question in questions %}

        <div class = "col-lg-offset-3">





    <blockquote>

      <h3>{{ question.text }}</h3><div class='col-lg-offset-12'>

        </div>
{% if current_user.is_authenticated() %}

                <i><a href ="/question/{{ question.id }}">Reply</a></i>

{% else %}

                <i><a href ="/question/{{ question.id }}">Show</a></i>

{% endif %}

        <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>

</blockquote>

       <i>{{ question.pub_date | format_date }}</i>


    </div>

{% endfor %}
            </div>


{% endblock %}