{% extends 'base.html' %}
{% block title %}Ask - Main{% endblock %}

{% block content %}

    <form action='/login'  class="form-horizontal" method='post'>

            {{ login_form.csrf_token }}




        <fieldset>


    <!-- Login Form -->

        <center><legend>Please Log in</legend>

{% with messages = get_flashed_messages(category_filter=["logout"]) %}

 {% if messages %}
  {% for message in messages %}

            <p class="bg-success">{{ message }}</p>

  {% endfor %}
 {% endif %}
{% endwith %}

</center>


<!-- Text input-->
<div class="form-group">

    <label class="col-md-6 control-label" for="textinput">Email</label>

        <div class="col-md-6">
            {{ login_form.email(class="form-control input-md") }}

{% with messages = get_flashed_messages(category_filter=["error"]) %}

 {% if messages %}
  {% for message in messages %}

            <p class="bg-danger">{{ message }}</p>

  {% endfor %}
 {% endif %}
{% endwith %}

    </div>
        </div>

    <!-- Password input-->
    <div class="form-group">
        <label class="col-md-6 control-label">Password</label>
            <div class="col-md-6">

                {{ login_form.password(class = "form-control input-md") }}

{% with messages = get_flashed_messages(category_filter=["error"]) %}
 {% if messages %}
   {% for message in messages %}

        <p class="bg-danger">{{ message }}</p>

    {% endfor %}
 {% endif %}
{% endwith %}

  </div>
</div>

<!-- Button -->
    <div class="form-group">
        <label class="col-md-6 control-label" for="singlebutton"></label>
            <div class="col-md-6">
                <button id="singlebutton" name="singlebutton" class="btn btn-inverse">Login</button>
    </div>
        </div>

    </fieldset>
        </form>


{% endblock %}