{% extends 'base.html' %}

{% block title %}Ask - Main{% endblock %}

{% block content %}

{% for item in user %}

            <div class = "col-lg-offset-3">

                <center><img src ="{{ item['email'] | gravatar(size=100) }}">

                    <h3>{{ item['name'] }}</h3>

                <hr>
                    <div class = "col-lg-offset-4">

{% if questions_count.count() !=0 %}

                    <div class = "col-lg-3"><h2><a href='#'>{{ questions_count.count() }}</a></h2>
           <p>

{% else %}

                <div class = "col-lg-3"><h2>{{ questions_count.count() }}</h2><p>

{% endif %}
                Questions

            </p>
                        </div>

{% if asks_count.count() !=0 %}

            <div class = "col-lg-2"><h2><a href='#'>{{ asks_count.count() }}</a></h2><p>

{% else %}
                <div class = "col-lg-2"><h2>{{ asks_count.count() }}</h2><p>
{% endif %}

                Replies</p></div>


                </div>
            </div>
                </center>

{% endfor %}
{% endblock %}