{% extends 'base.html' %}
{% block title %}Ask - Main{% endblock %}

{% block content %}

    <form name="RegisterForm" class="form-horizontal" method='post' action='/register'>
    {{ register_form.csrf_token }}
    <fieldset>

<!-- Form Name -->
<center><legend>Register</legend></center>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="email">Email</label>
  <div class="col-md-5">

      {{ register_form.email(class ="form-control input-md") }}

      {% if register_form.email.errors %}

      {% for error in register_form.email.errors %}

      <p class="bg-info">{{ error }}</p>

      {% endfor %}

      {% endif %}


  </div>
</div>

<div ng-controller="RegisterController">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>
  <div class="col-md-5">
      {{ register_form.name(class="form-control input-md") }}

      {% if register_form.name.errors %}

      {% for error in register_form.name.errors %}

      <p class="bg-danger">{{ error }}</p>

      {% endfor %}
      {% endif %}

  </div>
</div>
    </div>



<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password</label>
  <div class="col-md-5">
      {{ register_form.password(class="form-control input-md") }}

      {% if register_form.password.errors %}

      {% for error in register_form.password.errors %}

      <p class="bg-danger">{{ error }}</p>

      {% endfor %}
      {% endif %}

    <span class="help-block">min 6 letters</span>
  </div>
</div>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Repeat</label>
  <div class="col-md-5">
      {{ register_form.repeat_password(class="form-control input-md") }}

      {% if register_form.repeat_password.errors %}


      {% for error in register_form.repeat_password.errors %}

      <p class="bg-danger">{{ error }}</p>

      {% endfor %}
      {% endif %}
    <span class="help-block">repeat password</span>
  </div>
</div>

        <div class="form-group">
  <label class="col-md-4 control-label">Tag Name</label>
  <div class="col-md-5">

      {{ register_form.tag_name(class="form-control input-md") }}

      {% if register_form.tag_name.errors %}

      {% for error in register_form.tag_name.errors %}

      <p class="bg-danger">{{ error }}</p>

      {% endfor %}
      {% endif %}

   </div>
            </div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Register</button>
  </div>
</div>

</fieldset>
</form>



{% endblock %}