{% extends 'base.html' %}
{% block title %}Ask - Main{% endblock %}

        {% block reply %}Reply{% endblock %}

<div ng-app="MyApp">
{% block content %}

<div class="modal fade" id="ModalWindow" tabindex="-1" role="dialog" aria-labelledby="ModalWindowLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ModalWindowTitle">New Reply</h4>
      </div>
      <div class="modal-body">



          {% for item  in question %}




        <form method = 'post' action=/question/{{ item.id }}>

            {% endfor %}
            {{ ask_form.csrf_token }}

          <div class="form-group">
            <label for="message-text" class="control-label">Ask:</label>
            {{ ask_form.text(class="form-control input-md") }}

              {% if ask_form.text.errors %}
              <script type = "text/javascript">

                  $("#ModalWinodw").modal("show");
              </script>
              {% for error in ask_form.text.errors %}
              <p class="bg-danger">{{ error }}</p>
              {% endfor %}
              {% endif %}



          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Send message</button>
      </div>

        </form>
    </div>
  </div>
</div>


    <div class = "col-lg-offset-3">


        {% for item in user %}

        <img src ="{{ item.email | gravatar }}">

        <a href ='profile/{{ item.id }}'><large>{{ item.name }}</large></a> @ <cite title="{{ item.tag_name }}">{{ item.tag_name }}</cite>

        {% endfor %}
        <hr>

    <blockquote>

      {% for item  in question %}

      {{ item.text }}


      {% endfor %}

</blockquote>

        {% for item  in question %}
        @ <small>{{ item.pub_date | format_date }}</small>
        {% endfor %}

        @ <small>Replies: <b>{{ asks.count() }}</b></small>


    </div>
        {% for ask in asks %}

<div class = "col-lg-12">
    <div class = "profile">
    <div class = "col-sm-offset-3">
        <img src ="{{ ask.user['email'] | gravatar }}">
   
    <a href = "/profile/{{ ask.user['id'] }}">{{ ask.user['name'] }}</a> @{{ ask.user['tag_name'] }}:

    </div>

<div class = "col-lg-offset-4">

<hr>

    <script>

function ratingController{{ ask.id }}($scope, $http) {
    $scope.rating_ask = '{{ ask.rating }}';
    $scope.heart_class_def = "glyphicon glyphicon-heart-empty"

    var request_check = {
        method: 'GET',
        url: '/vote?user_id={{ current_user.id }}' + '&ask_id={{ ask.id }}' + '&action=check_vote'
    }

    var request_mark = {
        method: 'GET',
        url: '/vote?user_id={{ current_user.id }}' + '&ask_id={{ ask.id }}' + '&action=mark'
    }

    var request_unmark = {
        method: 'GET',
        url: '/vote?user_id={{ current_user.id }}' + '&ask_id={{ ask.id }}' + '&action=unmark'
    }

    $http(request_check).
            success(function(data) {
                if (data['status'] == 'not_voted_by') {
                    $scope.heart_class_def = "glyphicon glyphicon-heart-empty"
                };

                if (data['status'] == 'is_voted_by') {

                    $scope.heart_class_def = "glyphicon glyphicon-heart";
                }

            });


    $scope.VoteHeart = function() {



        if ($scope.heart_class_def == "glyphicon glyphicon-heart-empty") {
            $http(request_mark).success(function(data) {
                if (data['status'] == 'mark') {
                    $scope.heart_class_def = "glyphicon glyphicon-heart";
                    $scope.rating_ask = parseInt($scope.rating_ask) + 1;
                }
            });
        }


        if  ($scope.heart_class_def == "glyphicon glyphicon-heart"){
            $http(request_unmark).success(function(data){
                if (data['status'] == 'unmark') {
                    $scope.heart_class_def = "glyphicon glyphicon-heart-empty";
                    $scope.rating_ask = parseInt($scope.rating_ask) - 1;
                }
            });



        }


    }
}
</script>
    <div ng-app ="" ng-controller="ratingController{{ ask.id }}">
    <div class = "col-md-14">
   <span>{{ ask.text }}</span>
        </div>
    <div class = "col-md-offset-12" ng-init="ask_{{ ask.id }}_rating ='{{ ask.rating }}'">
      {% if current_user.is_authenticated() %}
      <div class = "vote-block">
      Vote<span ng-click='VoteHeart()' ng-class="heart_class_def" aria-hidden="true">{{ rating_ask | angular }}
        </span>
          </div>

        {% else %}

        <span class = 'glyphicon glyphicon-heart-empty' aria-hidden="true">
        {{ ask.rating }}
        </span>
       {% endif %}

    </span>
        </div>
   </div>
        </div>



    </div>
        </div>

        {% endfor %}





    </div>
        </div>


{% endblock %}
        </div>